inst/doc
doc
Meta
.Rproj.user
*.Rhistory
COINr.Rproj
.Rprofile
/doc/
/Meta/
cran_submission_notes.md
to-do.Rmd
desktop.ini
docs
CRAN-SUBMISSION
/docs/
progress.md
progress_get.md
tmp_script/*
!tmp_script/unbalanced_proto/
tmp_script/unbalanced_proto/*
!tmp_script/unbalanced_proto/run_proto.R
